# TODO(#167): Remove `-Wno-deprecated-declarations` when glog is updated.
build --cxxopt='-std=c++17' --host_cxxopt='-std=c++17' --cxxopt='-Werror' --host_cxxopt='-Werror' --cxxopt='-Wall' --host_cxxopt='-Wall' --cxxopt='-Wno-deprecated-declarations' --host_cxxopt='-Wno-deprecated-declarations'
