# TODO(#167): Remove `-Wno-deprecated-declarations` when glog is updated.
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17
build --cxxopt=-Werror
build --host_cxxopt=-Werror
build --cxxopt=-Wall
build --host_cxxopt=-Wall
build --cxxopt=-Wno-deprecated-declarations
build --host_cxxopt=-Wno-deprecated-declarations
